services:
  frontend:
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - . :/ex00/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WDS_SOCKET_HOST=localhost
      - WDS_SOCKET_PORT=3000
    stdin_open: true
    tty: true